
.Attribute
{
	color: rgb(0, 0, 0);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 9pt;
	font-family: "Verdana";
	border-width: 1px;
	border-color: rgb(176, 196, 222);
	border-style: ridge;
	ime-mode: auto;
	font: normal  normal 9pt "Verdana";
	
}

.FreeStyleGrid
{
	border-width: 0px;
	border-style: none;
	
}

.FreeStyleGridUniform
{
	border-width: 0px;
	background-color: rgb(219, 236, 252);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	
}

.FreeStyleGridOdd
{
	border-width: 0px;
	background-color: rgb(255, 255, 255);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	
}

.FreeStyleGridEven
{
	border-width: 0px;
	background-color: rgb(219, 236, 252);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	
}

.Grid
{
	border-width: 0px;
	border-style: ridge;
	
}

.GridUniform
{
	border-width: 0px;
	font-style: normal;
	text-decoration: none;
	font-size: 8pt;
	font-family: "Tahoma";
	font: normal normal  8pt "Tahoma";
	font-variant: normal;
	
}

.GridOdd
{
	border-width: 0px;
	font-style: normal;
	text-decoration: none;
	font-size: 8pt;
	font-family: "Tahoma";
	font: normal normal  8pt "Tahoma";
	font-variant: normal;
	
}

.GridEven
{
	border-width: 0px;
	font-style: normal;
	text-decoration: none;
	font-size: 8pt;
	font-family: "Tahoma";
	background-color: rgb(219, 236, 252);
	font: normal normal  8pt "Tahoma";
	font-variant: normal;
	
}

.GridUniformTitle
{
	color: rgb(31, 76, 135);
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 8pt;
	font-family: "Tahoma";
	font: normal  bold 8pt "Tahoma";
	
}

.GridTitle
{
	color: rgb(31, 76, 135);
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 8pt;
	font-family: "Tahoma";
	background-color: rgb(176, 196, 222);
	font: normal  bold 8pt "Tahoma";
	
}

.Table
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	
}

.Image
{
	border-width: 0px;
	border-style: none;
	
}

.Button
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: rgb(8, 54, 81);
	border-width: 1px;
	border-style: solid;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/../images/btn_bg.gif);
	height: 18px;
	vertical-align: middle;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	
}

.Hyperlink
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 8.25pt;
	font-family: Arial;
	font: normal  bold 8.25pt Arial;
	color: #00C000;
	
}

.TextBlock
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-size: 8pt;
	font-family: "Verdana";
	ime-mode: inactive;
	color: RGB(17,79,120);
	font: normal normal  8pt "Verdana";
	font-variant: normal;
	
}

.SpecialButtons
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: Transparent;
	border-width: 0px;
	border-style: none;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/../images/btn_bg.gif);
	height: 19px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	width: 20px;
	clear: both;
	
}

.BtnFirst
{
	font-size: 0pt;
	color: Transparent;
	border-width: 0px;
	border-style: none;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/botonFirst.gif);
	height: 20px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	background-repeat: no-repeat;
	background-color: Transparent;
	border-top-color: Transparent;
	border-right-color: Transparent;
	border-bottom-color: Transparent;
	border-left-color: Transparent;
	border-color: Transparent;
	width: 19px;
	clear: both;
	
}

.BtnNext
{
	font-size: 0pt;
	color: Transparent;
	border-width: 0px;
	border-style: none;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/botonNext.gif);
	height: 20px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	background-repeat: no-repeat;
	background-color: Transparent;
	width: 19px;
	clear: both;
	
}

.BtnPrevious
{
	font-size: 0pt;
	color: Transparent;
	border-style: none;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/botonPrevious.gif);
	height: 20px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	background-repeat: no-repeat;
	background-color: transparent;
	border-top-color: Transparent;
	border-right-color: Transparent;
	border-bottom-color: Transparent;
	border-left-color: Transparent;
	border-color: Transparent;
	width: 19px;
	clear: both;
	
}

.BtnLast
{
	font-size: 0pt;
	color: Transparent;
	border-width: 0px;
	border-style: none;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/botonLast.gif);
	height: 20px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	background-repeat: no-repeat;
	width: 19px;
	border-top-color: Transparent;
	border-right-color: Transparent;
	border-bottom-color: Transparent;
	border-left-color: Transparent;
	border-color: Transparent;
	background-color: Transparent;
	clear: both;
	
}

.BtnSelect
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: Transparent;
	border-width: 0px;
	border-style: none;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg.gif);
	height: 19px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	width: 20px;
	clear: both;
	
}

.BtnGet
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: Transparent;
	border-width: 0px;
	border-style: none;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg_nv.gif);
	height: 0px;
	vertical-align: baseline;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	width: 20px;
	clear: both;
	
}

.BtnEnter
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: Transparent;
	border-width: 0px;
	border-style: outset;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg.gif);
	height: 19px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	width: 20px;
	clear: both;
	
}

.BtnCheck
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: Transparent;
	border-width: 0px;
	border-style: none;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg.gif);
	height: 19px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	width: 20px;
	clear: both;
	
}

.BtnCancel
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: Transparent;
	border-width: 0px;
	border-style: outset;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg.gif);
	height: 19px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	width: 20px;
	clear: both;
	
}

.BtnDelete
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: Transparent;
	border-width: 0px;
	border-style: none;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg.gif);
	height: 19px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	width: 20px;
	clear: both;
	
}

.BtnHelp
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: Transparent;
	border-width: 0px;
	border-style: outset;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg.gif);
	height: 19px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	width: 20px;
	clear: both;
	
}

.TableGrid
{
	background-color: rgb(232, 244, 255);
	border-width: 1px;
	border-color: rgb(70, 130, 180);
	border-style: solid;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	margin-top: 0pt;
	margin-right: 0pt;
	margin-left: 0pt;
	margin-bottom: 0pt;
	padding: 0pt;
	padding-top: 0pt;
	padding-right: 0pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	
}

.TableTop
{
	background-color: rgb(70, 130, 180);
	border-width: 0px;
	border-style: none;
	height: 75px;
	width: 100%;
	color: rgb(255, 255, 255);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	vertical-align: middle;
	margin: 0pt;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-left: 0pt;
	margin-bottom: 0pt;
	padding: 0pt;
	padding-top: 0pt;
	padding-right: 0pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	
}

.TableContent
{
	border-width: 0px;
	border-style: none;
	color: rgb(0, 0, 0);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	vertical-align: top;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-left: 0pt;
	margin-bottom: 0pt;
	padding: 10pt;
	padding-top: 10pt;
	padding-right: 10pt;
	padding-left: 10pt;
	padding-bottom: 10pt;
	
}

.TableLeftMenu
{
	background-color: rgb(219, 236, 252);
	border-width: 0px;
	border-style: none;
	width: 100%;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	text-indent: 15pt;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-left: 0pt;
	margin-bottom: 0pt;
	padding: 0pt;
	padding-top: 0pt;
	padding-right: 0pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	
}

.ErrorViewer
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 8.25pt;
	font-family: "Verdana";
	color: rgb(255, 0, 0);
	
}

.Table100and5padding
{
	border-width: 0px;
	border-style: none;
	width: 100%;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	vertical-align: top;
	margin: 0pt;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-left: 0pt;
	margin-bottom: 0pt;
	padding: 5pt;
	padding-top: 5pt;
	padding-right: 5pt;
	padding-left: 5pt;
	padding-bottom: 5pt;
	
}

.Form
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	margin: 0pt;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-left: 0pt;
	margin-bottom: 0pt;
	padding: 0pt;
	padding-top: 0pt;
	padding-right: 0pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	
}

.Table2Padding
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	margin-top: 0pt;
	margin-right: 0pt;
	margin-left: 0pt;
	margin-bottom: 0pt;
	padding: 2pt;
	padding-top: 2pt;
	padding-right: 2pt;
	padding-left: 2pt;
	padding-bottom: 2pt;
	
}

.ReadonlyAttribute
{
	color: rgb(0, 0, 0);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 9pt;
	font-family: "Verdana";
	border-width: 0px;
	border-color: rgb(255, 255, 255);
	border-style: none;
	ime-mode: auto;
	font: normal  normal 9pt "Verdana";
	
}

.BtnRefresh
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: Transparent;
	border-width: 0px;
	border-style: none;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg.gif);
	height: 19px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	width: 20px;
	clear: both;
	
}

.TableTopMenu
{
	background-color: rgb(176, 196, 222);
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	text-indent: 0pt;
	
}

.Dia
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 9pt;
	font-family: "Verdana";
	ime-mode: inactive;
	color: RGB(17,79,120);
	font-variant: normal;
	font: normal normal normal 9pt "Verdana";
	
}

.ButtonMedio
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: rgb(8, 54, 81);
	border-width: 1px;
	border-style: solid;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg.gif);
	height: 18px;
	width: 180px;
	vertical-align: middle;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	
}

.ButtonGrande
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: rgb(8, 54, 81);
	border-width: 1px;
	border-style: solid;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg.gif);
	height: 18px;
	width: 280px;
	vertical-align: middle;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	
}

.ButtonPequeno
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: rgb(8, 54, 81);
	border-width: 1px;
	border-style: solid;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg.gif);
	height: 18px;
	width: 110px;
	vertical-align: middle;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	
}

.Titulo
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 8.25pt;
	font-family: Verdana;
	color: rgb(31, 76, 135);
	ime-mode: inactive;
	font-variant: normal;
	font: normal normal bold 8.25pt Verdana;
	
}

.submenu
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	color: rgb(17, 79, 120);
	ime-mode: inactive;
	font-variant: normal;
	font: normal normal normal 8.25pt "Verdana";
	
}

.branca
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	color: rgb(0, 0, 192);
	display: inline;
	white-space: normal;
	ime-mode: inactive;
	font-variant: normal;
	font: normal normal normal 8.25pt "Verdana";
	
}

.orange
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 8.25pt;
	font-family: "Verdana";
	color: rgb(0, 0, 128);
	ime-mode: inactive;
	font-variant: normal;
	font: normal normal bold 8.25pt "Verdana";
	
}

.red
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	color: rgb(204, 51, 0);
	ime-mode: inactive;
	font-variant: normal;
	font: normal normal normal 8.25pt "Verdana";
	
}

.imput_login
{
	background-color: rgb(176, 196, 222);
	color: rgb(0, 0, 0);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	border-width: 1px;
	border-color: rgb(1, 54, 76);
	border-style: solid;
	vertical-align: middle;
	ime-mode: auto;
	
}

.textarea
{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 9pt;
	font-family: "Verdana";
	border-width: 1px;
	border-color: rgb(87, 120, 137);
	border-style: ridge;
	ime-mode: auto;
	font: normal  normal 9pt "Verdana";
	
}

.linknoticia
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 8.25pt;
	font-family: "Microsoft Sans Serif";
	color: #00C000;
	font: normal  bold 8.25pt "Microsoft Sans Serif";
	
}

.linkbranco
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	color: Lime;
	font: normal  normal 8.25pt "Verdana";
	
}

.manchete
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	color: rgb(0, 0, 0);
	ime-mode: inactive;
	font-variant: normal;
	font: normal normal normal 8.25pt "Verdana";
	
}

.Artigo
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	color: rgb(0, 0, 0);
	ime-mode: inactive;
	font-variant: normal;
	font: normal normal normal 8.25pt "Verdana";
	
}

.navegacao
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	color: rgb(192, 192, 192);
	ime-mode: inactive;
	font-variant: normal;
	font: normal normal normal 8.25pt "Verdana";
	
}

.Table600
{
	border-width: 0px;
	border-style: none;
	width: 600px;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	
}

.scModelo
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: underline;
	font-weight: bold;
	font-size: 8.25pt;
	font-family: "Verdana";
	ime-mode: inactive;
	color: RGB(17,79,120);
	font-variant: normal;
	font: normal normal bold 8.25pt "Verdana";
	
}

.Tab
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: rgb(8, 54, 81);
	border-width: 3px;
	border-color: rgb(192, 192, 192);
	border-style: ridge;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg.gif);
	height: 18px;
	width: 100px;
	vertical-align: middle;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	
}

.TabSel
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: rgb(113, 184, 255);
	border-width: 1px;
	border-color: rgb(192, 192, 192);
	border-style: inset;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg.gif);
	height: 18px;
	width: 100px;
	vertical-align: middle;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	
}

.OptionList
{
	color: rgb(0, 0, 0);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	border-style: none;
	ime-mode: auto;
	
}

.MenuTitulo
{
	border-width: 0px;
	border-style: none;
	height: 25px;
	width: 120px;
	border-color: rgb(192, 192, 192);
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 8pt;
	font-family: "Verdana";
	background-color: rgb(0, 128, 255);
	color: rgb(255, 255, 255);
	padding: 3pt 2pt 2pt;
	padding-top: 3pt;
	padding-right: 2pt;
	padding-left: 2pt;
	padding-bottom: 2pt;
	display: block;
	ime-mode: inactive;
	font-variant: normal;
	font: normal normal bold 8pt "Verdana";
	
}

.MenuLink
{
	border-width: 0px;
	border-style: none;
	height: 15px;
	width: 120px;
	font-style: normal;
	text-decoration: none;
	font-size: 8pt;
	font-family: "Verdana";
	color: rgb(137, 131, 252);
	ime-mode: inactive;
	font: normal normal  8pt "Verdana";
	font-variant: normal;
	
}

.MenuLinkHover
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 8pt;
	font-family: "Verdana";
	color: rgb(0, 0, 221);
	ime-mode: inactive;
	font-variant: normal;
	font: normal normal bold 8pt "Verdana";
	
}

.GridNoticias
{
	border-width: 1px;
	border-style: ridge;
	
}

.GridNoticiasUniform
{
	border-width: 0px;
	background-color: rgb(219, 236, 252);
	color: rgb(0, 0, 0);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	
}

.GridNoticiasOdd
{
	border-width: 0px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	
}

.GridNoticiasEven
{
	border-width: 0px;
	background-color: rgb(219, 236, 252);
	color: rgb(0, 0, 0);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	
}

.Noticias
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-size: 8pt;
	font-family: "Verdana";
	ime-mode: inactive;
	color: RGB(17,79,120);
	font: normal normal  8pt "Verdana";
	font-variant: normal;
	
}

.NoticiasTitulo
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 9.75pt;
	font-family: "Arial";
	color: rgb(0, 0, 0);
	vertical-align: middle;
	ime-mode: inactive;
	font-variant: normal;
	font: normal normal normal 9.75pt "Arial";
	
}

.MaisNoticias
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Microsoft Sans Serif";
	ime-mode: inactive;
	color: RGB(17,79,120);
	font-variant: normal;
	font: normal normal normal 8.25pt "Microsoft Sans Serif";
	
}

.CinzaClaro
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Arial";
	color: rgb(192, 192, 192);
	ime-mode: inactive;
	font-variant: normal;
	font: normal normal normal 8.25pt "Arial";
	
}

.CinzaClaro1
{
	color: rgb(192, 192, 192);
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Arial";
	border-style: none;
	ime-mode: auto;
	
}

.TituloGrid
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 9pt;
	font-family: "Verdana";
	color: rgb(31, 76, 135);
	ime-mode: inactive;
	font-variant: normal;
	font: normal normal bold 9pt "Verdana";
	
}

.Messages
{
	background-color: #FFFFE1;
	font-size: 0.9em;
	color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: Baskerville, serif;
	font: 0.9em Baskerville, serif;
	border-color: #716F64;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding: 1px;
	
}

.ErrorMessages
{
	background-color: #FFFFE1;
	font-size: 0.9em;
	color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: Baskerville, serif;
	font:    0.9em Baskerville, serif;
	border-color: #716F64;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding: 1px;
	
}

.WarningMessages
{
	background-color: #FFFFE1;
	font-size: 0.9em;
	color: #000000;
	border-width: 1px;
	border-style: solid;
	font-family: Baskerville, serif;
	font:    0.9em Baskerville, serif;
	border-color: #716F64;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding: 1px;
	
}

.BlobContentAttribute
{
	ime-mode: auto;
	border-style: ridge;
	font-size: 9pt;
	font: normal  normal 9pt "Verdana";
	
}

.BlobInputAttribute
{
	ime-mode: auto;
	border-style: ridge;
	font-size: 9pt;
	font: normal  normal 9pt "Verdana";
	
}

.ReadonlyBlobContentAttribute
{
	ime-mode: auto;
	border-style: ridge;
	font-size: 9pt;
	
}

.BtnNew
{
	font-size: 0pt;
	color: Transparent;
	border-width: 0px;
	border-style: none;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/new.gif);
	height: 20px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	background-color: Transparent;
	border-top-color: Transparent;
	border-right-color: Transparent;
	border-bottom-color: Transparent;
	border-left-color: Transparent;
	border-color: Transparent;
	width: 19px;
	clear: both;
	
}

.BtnAdd
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: Transparent;
	border-width: 0px;
	border-style: none;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/new.gif);
	height: 20px;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	background-color: Transparent;
	width: 19px;
	clear: both;
	border-top-color: Transparent;
	border-right-color: Transparent;
	border-bottom-color: Transparent;
	border-left-color: Transparent;
	border-color: Transparent;
	background-repeat: no-repeat;
	
}

.TituloPagina
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 12pt;
	font-family: Tahoma, Verdana;
	ime-mode: inactive;
	color: RGB(31,76,135);
	font: normal normal bold 12pt Tahoma, Verdana;
	font-variant: normal;
	
}

.PageCount
{
	color: rgb(31, 76, 135);
	text-decoration: none;
	font-weight: bold;
	font-size: 8.25pt;
	font-family: Verdana;
	border-width: 0px;
	border-style: none;
	ime-mode: auto;
	border-top-color: Transparent;
	border-right-color: Transparent;
	border-bottom-color: Transparent;
	border-left-color: Transparent;
	border-color: Transparent;
	font:   bold 8.25pt Verdana;
	background-color: Transparent;
	
}

.ButtonMini
{
	font-style: normal;
	text-decoration: none;
	font-weight: bold;
	font-size: 7.5pt;
	font-family: "Verdana";
	color: rgb(8, 54, 81);
	border-width: 1px;
	border-style: solid;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/images/btn_bg.gif);
	height: 16px;
	width: 50px;
	vertical-align: middle;
	margin: 1pt 1pt 1pt 0pt;
	margin-top: 1pt;
	margin-right: 1pt;
	margin-left: 0pt;
	margin-bottom: 1pt;
	padding: 0pt 6px 0pt 3pt;
	padding-top: 0pt;
	padding-right: 6px;
	padding-left: 3pt;
	padding-bottom: 0pt;
	
}

.DetalhesMenor
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-size: 7pt;
	font-family: "Arial Unicode MS", monospace;
	ime-mode: inactive;
	color: ControlText;
	font: normal normal  7pt "Arial Unicode MS", monospace;
	font-variant: normal;
	
}

.TableFilters
{
	border-width: 0px;
	border-style: none;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	color: RGB(19,79,120);
	
}

.FiltersTable
{
	background-color: WhiteSmoke;
	border-width: 1px;
	border-style: solid;
	font-style: normal;
	text-decoration: none;
	font-weight: normal;
	font-size: 8.25pt;
	font-family: "Verdana";
	border-top-color: LightSteelBlue;
	border-right-color: LightSteelBlue;
	border-bottom-color: LightSteelBlue;
	border-left-color: LightSteelBlue;
	border-color: LightSteelBlue;
	font-variant: normal;
	font: normal normal normal 8.25pt "Verdana";
	
}
A
{
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-style: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/text-decoration: none;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-weight: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-size: 8.25;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-family: "Verdana";
	color: rgb(0, 0, 0);
	font-family: Verdana;
	font-style: normal;
	font-size: 9pt;
	font: normal normal bold 9pt Verdana;
	font-variant: normal;
	font-weight: bold;
	text-decoration: underline;
	text-transform: none;
	
}
A A:HOVER
{
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-style: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/text-decoration: none;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-weight: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-size: 9;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-family: "Verdana";
	color: rgb(0, 0, 0);
	font-family: Arial;
	font-size: 8pt;
	font: normal normal normal 8pt Arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	
}
BODY
{
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-style: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/text-decoration: none;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-weight: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-size: 9;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-family: "Arial";
	text-align: left;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	margin: 0pt;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-left: 0pt;
	margin-bottom: 0pt;
	padding: 0pt;
	padding-top: 0pt;
	padding-right: 0pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	
}
BODY A:HOVER
{
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-style: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/text-decoration: underline;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-weight: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-size: 9;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-family: "Arial";
	color: rgb(174, 200, 21);
	font-family: verdana;
	font-size: 8pt;
	font: normal normal normal 8pt verdana;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: underline;
	
}
BODY A:LINK
{
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-style: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/text-decoration: underline;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-weight: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-size: 9;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-family: "Arial";
	color: RGB(17,79,120);
	font-size: 8pt;
	font-family: Verdana;
	font: normal normal normal 8pt Verdana;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: underline;
	
}
BODY A:VISITED
{
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-style: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/text-decoration: underline;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-weight: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-size: 9;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-family: "Arial";
	color: RGB(17,79,120);
	font-family: Arial;
	font-size: 10pt;
	font: normal normal normal 10pt Arial;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	
}
FORM
{
	margin: 0pt;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-left: 0pt;
	margin-bottom: 0pt;
	display: inline;
	
}
SELECT
{
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-style: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/text-decoration: none;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-weight: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-size: 8.25;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-family: "Arial";
	color: rgb(0, 0, 0);
	border-color: rgb(102, 153, 204);
	border-style: solid;
	vertical-align: middle;
	padding: 2pt;
	padding-top: 2pt;
	padding-right: 2pt;
	padding-left: 2pt;
	padding-bottom: 2pt;
	
}
INPUT
{
	Font/Font/Font/Font/Font/Font/Font/Font/font-style: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/text-decoration: none;
	Font/Font/Font/Font/Font/Font/Font/Font/font-weight: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/font-size: 8.25;
	Font/Font/Font/Font/Font/Font/Font/Font/font-family: "Arial";
	color: rgb(0, 0, 0);
	vertical-align: middle;
	
}
TEXTAREA
{
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-style: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/text-decoration: none;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-weight: normal;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-size: 8.25;
	Font/Font/Font/Font/Font/Font/Font/Font/Font/Font/font-family: "Arial";
	color: rgb(0, 0, 0);
	vertical-align: middle;
	
}
.Calendar
{
	border-style: solid;
	border-width: 1px;
	border-top-color: #fff;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #fff;
	border-color: #fff #000 #000 #fff;
	font-size: 11px;
	cursor: default;
	background-color: Window;
	color: WindowText;
	font-family: tahoma, verdana, sans-serif;
	font: 11px tahoma, verdana, sans-serif;
	position: relative;
	display: none;
	
}
.Calendar TABLE
{
	border-style: solid;
	border-width: 1px;
	font-size: 11px;
	cursor: default;
	background-color: Window;
	color: WindowText;
	font-family: tahoma, verdana, sans-serif;
	font: 11px tahoma, verdana, sans-serif;
	
}
.Calendar TABLE .wn
{
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding: 2px 3px 2px 2px;
	border-right: 1px solid ButtonShadow;
	background-color: ButtonFace;
	color: ButtonText;
	
}
.Calendar .CalendarButton
{
	text-align: center;
	border-width: 1px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding: 1px;
	border-style: solid;
	border-top-color: ButtonHighlight;
	border-right-color: ButtonShadow;
	border-bottom-color: ButtonShadow;
	border-left-color: ButtonHighlight;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	background-color: ButtonFace;
	
}
.Calendar .nav
{
	background-color: ButtonFace;
	background-image: url(D:/R2Tech/Kbases/ICSI/ICSI_1.02.02/menuarrow.gif);
	background-repeat: no-repeat;
	background-position: 100% 100%;
	
}
.Calendar THEAD .name
{
	border-bottom: 1px solid ButtonShadow;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding: 2px;
	text-align: center;
	background-color: ButtonFace;
	color: ButtonText;
	
}
.Calendar THEAD .weekend
{
	color: #f00;
	
}
.Calendar THEAD .hilite
{
	border-style: solid;
	border-width: 2px;
	border-top-color: ButtonHighlight;
	border-right-color: ButtonShadow;
	border-bottom-color: ButtonShadow;
	border-left-color: ButtonHighlight;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding: 0px;
	
}
.Calendar THEAD .active
{
	border-width: 1px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding: 2px 0px 0px 2px;
	border-top-color: ButtonShadow;
	border-right-color: ButtonHighlight;
	border-bottom-color: ButtonHighlight;
	border-left-color: ButtonShadow;
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
	
}
.Calendar THEAD .CalendarTitle
{
	font-weight: bold;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding: 1px;
	border-width: 1px;
	border-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	border-color: #000;
	background-color: ActiveCaption;
	color: CaptionText;
	text-align: center;
	
}
.Calendar TBODY .day
{
	width: 2em;
	text-align: right;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding: 2px 4px 2px 2px;
	
}
.Calendar TBODY .rowhilite TD
{
	background-color: Highlight;
	color: HighlightText;
	
}
.Calendar TBODY .emptyrow
{
	display: none;
	
}
.Calendar TBODY .emptycell
{
	visibility: hidden;
	
}
.Calendar TBODY td.hilite
{
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding: 1px 3px 1px 1px;
	border-width: 1px;
	border-style: solid;
	border-top-color: #fff;
	border-right-color: #000;
	border-bottom-color: #fff;
	border-left-color: #000;
	border-color: #fff #000;
	
}
.Calendar TBODY td.active
{
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding: 2px 2px 0px;
	border-style: solid;
	border-width: 1px;
	border-top-color: ButtonShadow;
	border-right-color: ButtonHighlight;
	border-bottom-color: ButtonHighlight;
	border-left-color: ButtonShadow;
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
	
}
.Calendar TBODY td.selected
{
	font-weight: bold;
	border-width: 1px;
	border-style: solid;
	border-top-color: ButtonShadow;
	border-right-color: ButtonHighlight;
	border-bottom-color: ButtonHighlight;
	border-left-color: ButtonShadow;
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding: 2px 2px 0px;
	background-color: ButtonFace;
	color: ButtonText;
	
}
.Calendar TBODY td.weekend
{
	color: #f00;
	
}
.Calendar TBODY td.today
{
	font-weight: bold;
	color: #00f;
	
}
.Calendar TBODY td.disabled
{
	color: GrayText;
	
}
.Calendar TFOOT .ttip
{
	background-color: ButtonFace;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding: 1px;
	border-style: solid;
	border-width: 1px;
	border-top-color: ButtonShadow;
	border-right-color: ButtonHighlight;
	border-bottom-color: ButtonHighlight;
	border-left-color: ButtonShadow;
	border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
	color: ButtonText;
	text-align: center;
	
}
.Calendar TFOOT .hilite
{
	border-style: solid;
	border-width: 1px;
	border-top-color: #fff;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #fff;
	border-color: #fff #000 #000 #fff;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding: 1px;
	background-color: #e4e0d8;
	
}
.Calendar TFOOT .active
{
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	padding: 2px 0px 0px 2px;
	border-width: 1px;
	border-style: solid;
	border-top-color: #000;
	border-right-color: #fff;
	border-bottom-color: #fff;
	border-left-color: #000;
	border-color: #000 #fff #fff #000;
	
}
.Calendar td.time
{
	border-top: 1px solid ButtonShadow;
	padding-top: 1px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	padding: 1px 0px;
	text-align: center;
	background-color: ButtonFace;
	
}
.Calendar td.time .hour
{
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 3px;
	padding: 0px 3px 4px;
	border-top-color: #889;
	border-right-color: #889;
	border-bottom-color: #889;
	border-left-color: #889;
	border-color: #889;
	border-style: solid;
	border-width: 1px;
	font-weight: bold;
	background-color: Menu;
	
}
.Calendar td.time .minute
{
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 3px;
	padding: 0px 3px 4px;
	border-style: solid;
	border-width: 1px;
	border-top-color: #889;
	border-right-color: #889;
	border-bottom-color: #889;
	border-left-color: #889;
	border-color: #889;
	background-color: Menu;
	font-weight: bold;
	
}
.Calendar td.time .ampm
{
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 4px;
	padding-left: 3px;
	padding: 0px 3px 4px;
	background-color: Menu;
	border-style: solid;
	border-width: 1px;
	font-weight: bold;
	border-top-color: #889;
	border-right-color: #889;
	border-bottom-color: #889;
	border-left-color: #889;
	border-color: #889;
	text-align: center;
	
}
.Calendar td.time span.hilite
{
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	border-color: #000;
	background-color: Highlight;
	color: HighlightText;
	
}
.Calendar td.time span.active
{
	border-top-color: #f00;
	border-right-color: #f00;
	border-bottom-color: #f00;
	border-left-color: #f00;
	border-color: #f00;
	background-color: #000;
	color: #0f0;
	
}
.Calendar td.time .colon
{
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 3px;
	padding: 0px 2px 0px 3px;
	font-weight: bold;
	
}
.CalendarCombo
{
	position: absolute;
	width: 4em;
	top: 0px;
	left: 0px;
	cursor: default;
	border-width: 1px;
	border-style: solid;
	border-top-color: ButtonHighlight;
	border-right-color: ButtonShadow;
	border-bottom-color: ButtonShadow;
	border-left-color: ButtonHighlight;
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	background-color: Menu;
	color: MenuText;
	font-size: 10px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding: 1px;
	display: none;
	
}
.CalendarCombo .label
{
	text-align: center;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding: 1px;
	
}
.CalendarCombo .label-IEfix
{
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding: 1px;
	text-align: center;
	width: 4em;
	
}
.CalendarCombo .active
{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding: 0px;
	border-width: 1px;
	border-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	border-color: #000;
	
}
.CalendarCombo .hilite
{
	background-color: Highlight;
	color: HighlightText;
	
}
div.suggestions
{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	border-top-color: black;
	border-right-color: black;
	border-bottom-color: black;
	border-left-color: black;
	border-color: black;
	background-color: white;
	
}
div.suggestions div
{
	cursor: default;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 3px;
	padding: 0px 3px;
	
}
div.suggestions div.current
{
	background-color: #36c;
	color: white;
	
}
